<h1> The 10 Best Books of 2018 </h1>
<div class="home-book-container">
  <% books.forEach(function(book) { %>


    <div class="card w-50 book-card">
        <div class="card-body">
          <p class="card-text"><b> <%= book.title  %> </b> <small> by <%= book.author  %> </small> </p>
          <a class="btn btn-primary" href="/book/<%= book.googleId %>">View</a>
      </div>
  
    </div>
  
      <% }); %>

</div>
